.colors__title--wrapper {
    display: flex;
}
.colors2__title--wrapper {
    display: flex;
}

.colors__title--wrapper h2 {
    color: rgba(125, 125, 129, 0.40);
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 700;
    margin-left: 100px;
    margin-bottom: 40px;
    line-height: 115.02%;
    /* 115.02px */
}
.colors2__title--wrapper h2 {
    color: rgba(125, 125, 129, 0.40);
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 700;
    margin-left: 100px;
    margin-bottom: 40px;
    line-height: 115.02%;
    /* 115.02px */
}
.colors2__item--wrapper{
    margin-left: 100px;
}
.colors__img--wrapper {
    margin-left: 100px;
}
.colors2__img--wrapper {
    margin-left: 100px;
}

.colors__image--item {
    display: flex;

}
.colors2__image--item {
    display: flex;

}

.colors__image--item2 {
    display: flex;
    margin-left: 92px;
    margin-top: 35px;
}

.colors__image--item div {
    margin-right: 50px;
}
.colors2__image--item div {
    margin-right: 50px;
}

.colors__image--item2 div {
    margin-right: 50px;
}
.colors2__image--item2 div {
    margin-right: 50px;
}

.colors__image--item p {
    position: relative;
    top: -50px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
}
.colors2__image--item p {
    position: relative;
    top: -50px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
}

#white {
    color: white;
}

.colors__image--item2 p {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    top: -50px;
    margin-left: 30px;
}


.colors__img--item {
    margin-left: 85px;
    transform: rotate(-1.582deg);
}


.colors__letter--item {
    display: flex;
    margin-left: 100px;
}

.colors__letter--item2 {
    display: flex;
    margin-left: 100px;
}

#a1 {
    font-size: 112px;
    font-weight: 900;

}

#a2 {
    margin: 0 30px;
    margin-top: 17px;
    font-size: 92px;
    font-weight: 800;
}

#a3 {
    margin-top: 27px;
    font-size: 82px;
    font-weight: 700;
}

#a4 {
    margin-top: 27px;
    font-size: 56px;
    font-weight: 700;
}

#a5 {
    margin-left: 25px;
    margin-top: 35px;
    font-size: 46px;
    font-weight: 700;
}

#a6 {
    margin-left: 25px;
    margin-top: 51px;
    font-size: 29px;
    font-weight: 600;
}

#a7 {
    margin-left: 25px;
    margin-top: 58px;
    font-size: 20px;
    font-weight: 400;
}

@Media(max-width:360px){
    .colors__title--wrapper {
        display: block;
    }
    
    .colors__title--wrapper h2 {
        color: rgba(125, 125, 129, 0.40);
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin-left: 25px;
        margin-bottom: 40px;
        line-height: 115.02%;
        /* 115.02px */
    }
    
    .colors__image--wrapper {
        margin-left: 25px;
    }
    
    .colors__image--item {
        display: flex;
    
    } 
    .colors__image--item img{
        height: 50px;
        width: 90px;
    
    }
    .colors__image--item2 img{
        height: 50px;
        width: 90px;
    }
    .colors__image--item2 {
        display: flex;
        
        margin-left: 65px;
        margin-top: 10px;
    }
    
    .colors__image--item p {
        position: relative;
        top: -40px;
        left:-20px;
        font-family: 'Open Sans', sans-serif;
        color: var(--black-500, #000);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
         /* 16.8px */
         letter-spacing: 0.15px;
    }
    
    #white {
        color: white;
    }
    
    .colors__image--item2 p {
        position: relative;
        top: -40px;
        left:-20px;
        font-family: 'Open Sans', sans-serif;
        color: var(--black-500, #000);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
         /* 16.8px */
         letter-spacing: 0.15px;
    }
    
    .colors__img--item img{
        width: 300px;
        height: 220px;
            
        
    }
    .colors__image--wrapper {
        position: relative;
        top: 200px;
        margin-left: 5px;
        
    }
    .colors__img--item{
        position:relative;
        top:-180px;
        margin-left:0;
        
        margin-left: 25px;
        transform: rotate(-1.582deg);
        
    }
    
    .colors__letter--item {
        
        display: flex;
        margin-left: 25px;
    }
    
    .colors__letter--item2 {
        display: flex;
        margin-left: 25px;
    }
    .colors2__title--wrapper{
        display: none;
    }
}