.main__image--wrapper {
    display: grid;
    grid-template-rows: 100px 2360px;
}

.page__main--wrapper {
    position: relative;
}

.page__main--wrapper h2 {
    color: rgba(125, 125, 129, 0.40);
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    margin-left: 100px;
    margin-top: 100px;
    font-weight: 700;
    line-height: 115.02%;
    /* 115.02px */
}

.page__header--img {
    margin-left: 186px;
    margin-top: 40px;
    z-index: 5;
}

.page__content--img {
    margin-left: 186px;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.726), rgba(255,255,255,1)), url('./images/mainContent.png');
  background-size: cover; */
    z-index: 0;

}

.color__botom {
    width: 1028px;
    height: 550px;
    z-index: 10;
    border-radius: 30px;
    background: linear-gradient(#f3f2f2de 74.48%, rgba(255, 255, 255, 0.973) 90%);
    margin-bottom: 60px;
    margin-left: 186px;
}


@Media(max-width:360px){
    .main__image--wrapper {
        display: grid;
        width: 320px;
        max-height: 1300px;
        grid-template-rows: 100px 1500px;
    }
    
    .page__main--wrapper {
        position: relative;
    }
    .page__header--img img{
        height: 213px;
        width: 320px;
    }
    .page__content--img img{
        width: 320px;
        height: 1275px;
    }
    .page__main--wrapper h2 {
        color: rgba(125, 125, 129, 0.40);
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        margin-left: 25px;
        margin-top: 100px;
        font-weight: 700;
        line-height: 115.02%;
        /* 115.02px */
    }
    
    .page__header--img {
        margin-left: 0;
        margin-top: 40px;
        z-index: 5;
    }
    
    .page__content--img {
        margin-left: 0;
        
        z-index: 0;
    
    }
    .color__botom {
        position:relative;
        width: 320px;
        height: 250px;
        z-index: 10;
        top: -450px;
        background: linear-gradient(#f3f2f2de 74.48%, rgba(255, 255, 255, 0.973) 90%);
        margin-bottom: 0;
        margin-left:0;
    }

}