
.page__mobile--wrapper {
    position: relative;
    height: 2700px;
}

.page__mobile--title {
    display: flex;
}

.page__mobile--title h2 {
    color: rgba(125, 125, 129, 0.40);
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    font-weight: 700;
    margin-top: 120px;
    margin-left: 100px;
    margin-bottom: 40px;
    line-height: 115.02%;
    /* 115.02px */
}

.page__mobile--title p {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    /* 31.2px */
    height: 62px;
    width: 350px;

    margin-left: 176px;
    margin-top: 163px;
}

.page__mobile--pictures {
    display: grid;
    grid-template-columns: 250px 400px 400px 100px;
    grid-template-rows: 790px 500px;
}

#mobile5 {
    margin-top: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#mobile1 {
    border-bottom-right-radius: 10px;
}

#color4 {
    position: relative;
    top: 480px;
    width: 230px;
    border-bottom-right-radius: 10px;
    height: 180px;
    z-index: 2;
    background: linear-gradient(#f3f2f277 70.48%, rgba(245, 245, 245, 0.836) 90%);
}

#color5 {
    position: relative;
    top: 540px;
    left: 250px;
    width: 380px;
    height: 210px;
    z-index: 2;
    background: linear-gradient(#f3f2f273 70.48%, rgba(245, 245, 245, 0.856) 80%);
}

#color6 {
    position: relative;
    top: 140px;
    left: 650px;
    width: 380px;
    height: 260px;
    z-index: 2;
    background: linear-gradient(#f3f2f211 70.48%, rgba(245, 245, 245, 0.76) 80%);
}

@Media(max-width:360px){
    .page__mobile--wrapper {
        position: relative;
        height: 800px;
    }
    
    .page__mobile--title {
        display: block;
    }
    
    .page__mobile--title h2 {
        color: rgba(125, 125, 129, 0.40);
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin-left: 25px;
        margin-bottom: 0;
        line-height: 115.02%;
        /* 115.02px */
    }
    
    .page__mobile--title p {
        color: rgba(0, 0, 0, 0.87);
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 130%;
        /* 31.2px */
        height: 62px;
        width: 320px;
        margin-left: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .page__mobile--pictures {
        width: 90px;
        display: grid;
        grid-template-columns: 105px 105px 105px 100px;
        grid-template-rows: 790px ;
    }
    .page__mobile--pictures img{
        width: 100px;
        max-height: 560px;
    }
    #mobile4{
        height: 350px;
    }
    #mobile1{
        height: 480px;
    }
  
    #color4 {
        display: none;
    }
    
    #color5 {
        position: relative;
        top: -340px;
        left: 105px;
        width: 100px;
        height: 110px;
        z-index: 2;
        background: linear-gradient(#f3f2f273 70.48%, rgba(245, 245, 245, 0.856) 80%);
    }
    
    #color6 {
        position: relative;
        top: -600px;
        left: 210px;
        width: 105px;
        height: 260px;
        z-index: 2;
        background: linear-gradient(#f3f2f211 70.48%, rgba(245, 245, 245, 0.76) 80%);
    }
}